  .h-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #3f9cc1;
    
  }
  .h-one .email-phone {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }
  .h-one .email-phone span{
    margin-left: 70px;
  }
  .h-one .h-one-icons a i{
    margin: 20px;
  }
  .header{
    height: 70px;
    background: #063247;
    box-shadow: 0 3px 15px rgba(0,0,0,.4);
    top: 0;
    position: sticky;
    z-index: 999;
  }

  .header .logo{
    background: transparent center center no-repeat;

     position: relative;
    cursor: pointer;
      line-height: 70px;
    padding-left: 110px;
  }
  .header .logo img{
      overflow:hidden;
    margin-top: 10px;
    position: absolute;
  
    border-radius: 8px;
  }
  .header ul{
    float: right;
    margin-right: 30px;
  }
  .header ul li{
    display: inline-block;
  }
  .header ul li a{
    color: white;
    display: block;
    padding: 0 8px;
    line-height: 70px;
    font-size: 20px;
    background: #063247;
    transition: .5s;
  }
  .header ul li span{
    color: #fff;
    display: block;
    padding: 0 10px;

    cursor: pointer;
    background: #063247;
    font-size: 20px;
    line-height: 60px;
    
  }
  .header ul li span:hover,
  .header ul li span.active{
    color: #23dbdb;
  }
  .header ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid #23dbdb;
    opacity: 0;
    visibility: hidden;
  }
  .header ul li:hover > ul{
    top: 65px;
    margin-left: 7px;
    opacity: 1;
    visibility: visible;
    z-index: 99;
    transition: .3s linear;
  }
  .header ul ul li{
    width: 200px;
    display: list-item;
    position: relative;
    border: 1px solid #fff;
    border-top: none;
  }
  .header ul ul li a{
    line-height: 50px;
  }
  .header ul ul ul{
    border-top: none;
  }
  .header ul ul ul li{
    position: relative;
    top: -30px;
    left: 190px;
  }
  .header ul ul li span i{
    margin-left: 15px;
  }
  .nav-icon {
    display: none;
  }
  
  @media only screen and (min-width: 340px)and  (max-width: 500px) {
    .h-one{
    display: none;
  }
  .header{
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0%;
    transition: all 0.5s ease;
    width: 100%;
    font-size: .2rem;
    z-index: 999;
  }
  
  .header .logo{
    left: 0%;
    padding-left: 10px;
     position: relative;
    cursor: pointer;

  }
  .header .logo img{
    position: absolute;
    background-position: center;
    object-fit: cover;
    padding-left: 10px;
    max-height: 120px;
    max-width: 100px;
  }
  .header ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    font-size: 15px;

  }
  .header ul li:hover > ul{
    top: 65px;
    margin-left: 7px;
    opacity: 1;
    visibility: visible;
    z-index: 99;
    transition: .3s linear;
    left: 27%;
    font-size: 15px;

  }
  .header ul ul{
    border-top: none;
    left: 0;
    top: 0;
    font-size: 15px;

  }
  .header ul li{
    font-size: 10px;

  }
  .header ul ul li{
        width: 200px;
    display: list-item;
    position: relative;
    border: none;
    margin-left: 15px;

  }
  .header ul ul ul li{
    position: relative;
    top: -70px;
    left: 60px;
  }


  .nav-icon {
    display: block;
    position: absolute;
    top: 0%;
    right: 0%;
    margin-top: -90px;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
}