.slider-container {
  height: 100vh;
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.active-sl {
  display: inline-block;
}

.inactive-sl {
  display: none;
}

.slides-sl {
  height: 100vh;
  width: 100%;
  position: relative;
  animation: slideleft 1s linear forwards;
}
@keyframes slideleft {
  0% {
    transform: translate(100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

.slides-sl .but {
  cursor: pointer;
}
.slides-sl .flex-but {
  text-align: center;
  display: flex;
  gap: 30px;
  padding: 20px;
  animation: slideleft 2s forwards;
  
}
.slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.slide-title,
.slide-text {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 50px;
  position: absolute;
  text-align: center;
  top: 50%;
  z-index: 10;
  animation: slideleft 1s linear forwards;
}

.slide-text {
  top: 20%;
  font-size: 2rem;
  right: 15%;
}

.slide-title {
  top: 30%;
  font-size: 2rem;
  right: 15%;
}
.sl-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 35%;
  font-size: 2rem;
  left: 15%;
  line-height: 20px;
  color: #fff;
}
.sl-content h2{
  animation: slideleft .8s linear forwards;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.sl-content h3{
  animation: slideleft .3s linear forwards;
   margin-left: 50px;
   color: #130f40;
}
.prev-sl,
.next-sl {
  color: transparent;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -3rem;
  font-size: 40px;
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
}

.slider-container:hover .prev-sl,
.slider-container:hover .next-sl {
  color: black;
}

.slider-container:hover .prev-sl:hover,
.slider-container:hover .next-sl:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in;
}

.next-sl {
  right: 0;
  border-radius: 5px 0px 0px 5px;
}

.all-dots {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 85%;
  justify-content: center;
  z-index: 200;
}

.dot {
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  margin: 0px 5px;
  /* background-color: rgba(0, 0, 0, 0.3); */
  border-radius: 50%;
  display: inline-block;
}

.slider-container:hover .dot:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* .active-dot {
  background-color: rgba(255, 255, 255, 0.5);
} */

.slider-container:hover .dot {
  background-color: rgba(0, 0, 0, 0.3);
}
.slider-container:hover .active-dot {
  background-color: rgba(255, 255, 255, 0.5);
}

.play-pause {
  color: black;
}


@media only screen and (min-width: 340px)and  (max-width: 500px) {
  .sl-content{
    top: 15%;
  }
  .sl-content h2{
    left: 5%;
  }
.slides-sl .flex-but {
  margin-left: 2rem;
}

}