.fornisseur {
  margin-bottom: 30px;
  max-width: 90%;
  margin: 20px auto;
  background: linear-gradient(brown, #112222);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
.fornisseur1{
  display: none;
  max-width: 90%;
  margin: 20px auto;
  background: linear-gradient(brown, #112222);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 40px;

}

.fornisseur .box-fornis {
  position: relative;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 5px;
  height: 300px;
  background-color: #161616;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.fornisseur1 .box-fornis {
  position: relative;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 5px;
  height: 300px;
  background-color: #161616;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.box-fornis h4 {
  margin-top: 20px;
  font-weight: 400;
  text-align: center;
}
.box-fornis img {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-sizing: border-box;
  object-fit: fill;
  width: 100%;
  overflow-x: hidden;
}


@media only screen and (min-width: 340px)and  (max-width: 500px) {
  .fornisseur{
    display: none;
  }
  .fornisseur1{
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
.fornisseur .box-fornis {
  display: none;
}
 .fornisseur1  .box-fornis{
    display: block;
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
   }
  .fornisseur1 .box-fornis h4{
    bottom: 0;
    left: 5;
    position: absolute;
    font-size: 16px;
   }


  .fornisseur1 .box-fornis img {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    width: 87%;
    height: 60%;
    overflow: hidden;
  }
 
}
