.homeover {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 60px;
}
.left-over {
    display: grid;
    height: 50vh;
    gap: 10px;
    width: 50%;
}
.left_1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.img_wrap-over {
    width: 80px;
    height: 80px;
    border: 1px solid #222;
    cursor: pointer;
}
.img_wrap-over img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}
.left_2{
    float: left;
}
.left_2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.active-over {
    border: 2px solid #e77600;
}


