.prisentation {
  margin: 40px auto;
}
.contain-pres {
  width: 90%;
  margin: 20px 30px;
  padding: 6px 0;
  background-color: #16161616;
  display: flex;
  height: auto;
  font-family: "Roboto", sans-serif;
  color: #444;
  box-shadow: 0 5px 10px -5px #444;
}
.contain-pres .left-preso {
  position: relative;
  flex: 2;
}
.contain-pres .left-preso img {
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  clip-path: polygon(0 1%, 100% 0%, 69% 100%, 0% 100%);
  height: 100%;
  width: 100%;
}
.contain-pres .left-preso .img-right-1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 38% 100%);
  height: 100%;
  width: 100%;
}
.contain-pres .right-preso {
  flex: 1;
  padding: 40px 12px 0 12px;
  text-transform: lowercase;
}
.contain-pres .right-preso h1 {
  text-transform: lowercase;
  color: #130f40;
  text-decoration: underline;
  margin-bottom: 10px;
}
.contain-pres .right-preso p {
  line-height: 27px;
  font-size: 24px;
}

@media only screen and (min-width: 340px) and (max-width: 500px) {
  .prisentation {
    width: 100%;
    margin: 100px 0px;
    font-size: 15px;
  }
  .container-valo {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    line-height: 10px;
  }
  .container-valo p{

    font-size: 15px;
  }
  .contain-pres{
    height: auto;
  }
  .contain-pres .right-preso p{
    font-size: 13px;

  }
  .contain-pres .left-preso .img-right-1 {
    clip-path: inset(0 0 0 0);
    height: 100%;
    width: 100%;
  
  }
  .contain-pres .left-preso img {
    clip-path: inset(0 0 0 0);
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: fill;
  }
  .right-preso h1{
    font-size: 13px;
  }
}
